
.container {
  background-color: white;
  /* margin-top: 10%; */

}
.content{
  display: flex;
  margin-top: 60px;
  /* height: calc(115vh - 115px); */

}
.wrapper {
  margin-left: 210px;
}
.stuff {
  /* margin-left: 210px; */
  background-color: rgb(160, 160, 160);
  height: calc(113vh - 113px);
}
.head {
  display: flex;
  margin-top: 10px;
}
.wrapper h3 {
  color: rgb(52, 88, 76);
}
.wrapper span {
  color: rgb(202, 52, 115);
}
.logout {
  background-color: blue;
  margin-left: 790px;
  border-radius: 10px;
  list-style: none;
  color: rgb(255, 252, 252);
  width: 65px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}
.left{
  width: 70%;
  
}
.right{
  width: 30%;
}
/* styles for src abut page  */

.containers {
  /* height: calc(180vh - 180px); */
  display: flex;
  padding-left: 120px;
  margin-top: 4%;
}
.leftContent {
  /* margin-top: 4%; */
  text-align: justify;
  padding-left: 2%;
  width: 70%;
  padding: 20px;
}
.rightContent {
  width: 30%;
  padding: 20px;
  height: auto;
}
.contents {
  text-align: justify;
  display: block;
}
.text {
  font-size: 18px;
  font-family: "Roboto" sans-serif;
  width: 95%;
  padding-top: 2px;
  line-height: 2em;
}
.list {
  padding-left: 30px;
}
.title {
  font-size: 25px;
  font-family: "Roboto" sans-serif;
  color: chocolate;
}
.about{
  font-family: "Roboto" sans-serif;
  font-size: 28px;
}
.items{
  margin-top: 50px;
  
}
.item{
  display: flex;
  margin-bottom: 20px;
}
.button{
  background-color: gold;
  margin-left: -10%;
  color: #fff;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
}
.button:hover{
  background-color: blue;
}
.texts {
  font-size: 18px;
  font-family: "Roboto" sans-serif;
  width: 80%;
  padding-top: 2px;
}
.items{
  margin-left: 20px;
  display: flex;
  /* width: 50%; */
  background-color: white;
  border-radius: 5px;
  min-height: 100px;
  flex: 20%;
}
.items h3{
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(81, 69, 6);
  font-family: "Roboto" sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.items h5{
  margin-top: 80px;
  margin-left: 80px;
}
.wrappers {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  margin-left: 210px;
  /* margin-top: 10px; */
}
.welcome{
  margin-left: 250px;
  margin-top: 20px;
  color: black;
  font-size: 30px;
}


/* responsive page */
@media (min-width: 1100px) and (max-width: 1280px){
  .right{
    width: 30%;
  }
  .left{
    width: 70%;
  }
  .leftContent{
    width: 60%;
  }
  .rightContent{
    width: 40%;
    margin-top: 40px;
  }
 
}

@media (min-width: 1001px) and (max-width: 1099px){
  .leftContent{
    width: 100%;
  }
  .rightContent{
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 1000px){
  .rightContent{
    display: none;
  }
  .leftContent{
    width: 100%;
  }
  .text{
    font-size: 28px;
  }
  .right{
    display: none;
  }
  .left{
    width: 100%;
  }
}

@media (min-width: 200px) and (max-width: 699px){
  .right{
    display: none;
  }
  .left{
    width: 100%;
  }
  .rightContent{
    display: none;
  }
  .leftContent{
    width: 100%;
  }
}




.count{
  display: block;
  border: 20px solid rgb(126, 126, 163);
  border-radius: 10px;
  margin-bottom: 30px;
  width: 90%;
  margin-left: 20px;
}
.countList{
  list-style: none;
  background-color: transparent;
  color: rgb(38, 35, 21);
  font-size: larger;
  font-weight: 600;
}